@model IEnumerable<BHR.Models.User>
@{
    ViewBag.Title = "PendingUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin_index">
    <ol>
        @foreach (var x in Model)
        {
            <li>@Html.ActionLink(x.FirstName+" "+x.LastName, "ViewUser", "Admins", new { id = x.Id }, null)</li>
        }

    </ol>
</div>
@Html.ActionLink("back to previous", "Index")


